@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$portflolio-theme:			#1877F2 !default;

$portflolio-dark:			#323258 !default;
$portflolio-white:			#fff !default;
$portflolio-black:			#000 !default;

$portflolio-gray:			#F8FBFF !default;
$portflolio-body:			#687898 !default;


$portflolio-font-size:		15px !default;

$portflolio-line-height:	1.7 !default;

$portflolio-font:			'Inter', sans-serif !default;



// Breakpoints
$portflolio-media-xsm:		567px !default;
$portflolio-media-sm:		767px !default;
$portflolio-media-md:		991px !default;
$portflolio-media-lg:		1200px !default;